* {
    margin: 0;
    padding: 0;
}

/*#region Nav + footer*/
.navigation {
    height: 80px;
    width: 100%;
    background-color: red;
    font-size: 40px;
    display: flex;
}

.item {
    padding: 0;
    margin: 0 0 0 30px;
}

footer {
    margin-top: 30px;
    height: 80px;
    width: 100%;
    background-color: yellow;
    font-size: 40px;
    display: flex;
}
/*#endregion*/

/*#region Aside*/
aside {
    width: 30%;
    height: 400px;
    background-color: green;
    font-size: 40px;
    display: flex;
    float: right;
    border-radius: 10px;
}
/*#endregion*/

body {
    width: 100%;
    /*max-width: 1024px;*/
    /*text-align: center;*/
    /*display: flex;*/
    /*justify-content: center;*/
}

div.prod {
    float: left;
    /* width: 1040px; */
    margin-top: 50px;
    margin-left: 73px;
    margin-bottom: 30px;
    display: flex;
    /*flex-flow: row ;*/
    flex-wrap: nowrap;
    justify-content: center;
}

.img-butt {
    display: flex;
    flex-direction: column;
}

.img-butt button {
    width: 100px;
    height: 50px;
    background-color: red;
    border-radius: 20px;
    border: 1px solid transparent;
    margin-top: 10%;
    margin-left: 25%;
}

.img-butt button a {
    text-decoration: none;
    color: white;
}

.img-butt img {
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
}

.content p {
    text-align: justify;
    font-size: 25px;
    width: 100%;
}

.content h1 {
    margin: 10px 0;
}